<h1>About Blocitoff and Alvaro</h1>
<p>This site was developed for <%= my_name %> to practice Ruby on Rails.</p>

<a class="twitter-timeline" href="https://twitter.com/AlvaroMangual" data-widget-id="674318504548429824">Tweets by @AlvaroMangual</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>