<div class="jumbotron">
<h1>Blocitoff</h1>
<p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put-off. To address this time-suck, Blocitoff will keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days. If the task is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p>
</div>