<div class="jumbotron">
<h1>Blocitoff</h1>
<p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put-off.</p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Keeps to-do lists manageable</h2>
    <p>Blocitoff will automatically delete to-do items that have not been completed after seven days.</p>
  </div>
  <div class="col-md-4">
    <h2>Reduce time-suck</h2>
    <p>If the task is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p>
  </div>
  <div class="col-md-4">
    <h2>Reduces stress</h2>
    <p>Blocitoff will make you feel better: it's scientifically proven to help you do more by doing less.</p>
  </div>
</div>
</div>