<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>

  <div class='media-body'>
      <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"> Days Remaining: <%= item.days_left %></span>
          <%= item.name %>
        </li>
      </ul>
  </div>
<% end %>